body{
	color: #737273;
}
header{
	width: 100%;
	height: 95px;
}
header div.wrapper:after{
	content: "";
	padding-bottom: 5px;
	display: inline-flex;
	background: #d7d9de;
	width: 100%;
}
div.wrapper{
	max-width: 768px;
	width: 100%;
	margin: auto;
}
header div.wrapper figure{
	display: inline-flex;
}
.preloader, .sucesso{
	display: none;
}
.linha-roxa:after{
	content: "";
	display: block;
	padding-bottom: 4px;
	background: #652c90;
	width: 68px;
	position: relative;
	top: 10px;
	margin: auto;
	border-radius: 10px; 
}
.subir-nome{
	text-align: left;
    position: absolute;
    margin: 12px 0px 0px 15px;
    font-family: 'Nunito-Bold';
    font-size: 16px;
    color: #acacac;
	-webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.color-cinza{
	color: #5f5e5f;
}
.subir-nome.focus{
	margin-top: -15px;
	font-size: 11px;
	color: #652c90;
}
.input-width{
	max-width: 302px;
	height: 48px;
	width: 100%;
	margin: auto;
	border-radius: 10px; 
}
.form-group{ width:100%; margin-bottom: 24px; }
.bnt-envio{
	background: #652c90;
	width: 100%;
	max-width: 302px;
	height: 53px;
	border-radius: 10px;
	border: 0px;
}
.line-height{
	line-height: 190%;
}
.contato{
	margin: auto;
	width: 100%;
	max-width: 615px;
	height: 37px;
	background: #652c90;
	border-radius: 10px;
}
.contato a{
	width: 250px;
	margin: 3px 10px;
	display: inline-flex;
	text-align: center;
}
.contato span{
	letter-spacing: 2px;
}

.color-roxo{
	color: #652c90;
}
.fs-24{
	font-size: 24px;
}
.fs-16{
	font-size: 16px;
}
.fs-14{
	font-size: 14px;
}
.fs-12{
	font-size: 12px;
}
.fs-10{
	font-size: 10px;
}
.fs-8{
	font-size: 8px;
}
.nunito-black{
	font-family: 'Nunito-Black';
}
.nunito-bold{
	font-family: 'Nunito-Bold';
}
@font-face{
	font-family: 'Nunito-Black';
	src: url(fonts/Nunito-Black.ttf);
}
@font-face{
	font-family: 'Nunito-Bold';
	src: url(fonts/Nunito-Bold.ttf);
}
@media screen and (max-width: 543px){
	.contato{ height: auto; text-align: center; padding: 10px 0px; }
	.contato a,
	.contato span{
		display: block; margin:0px auto; float:initial!important; padding: 0px;
	}
}
@media screen and (max-width: 400px){
	header{
		height: auto;
	}
	header div.wrapper figure{
		float: initial!important;
		padding: 0px!important;
		display: block!important;
		margin: 20px auto!important;
	}
	header div.wrapper figure img{
		display: block!important;
		margin: auto!important;
		padding: 0px!important;
	}
}